.footer{
  z-index: 100;
  position: fixed;
  padding: 0 10rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.8rem;
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-size: 1.6rem;
}

.footer-item{
  position: relative;
}

.footer-item::before{
  content: "";
  display: block;
  position: absolute;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  top: -2px;
  left: -28px;
  filter: invert(100%);
}

.instagram::before{
  background-image: url(../assets/icons/instagram.png);
}

.phone::before{
  background-image: url(../assets/icons/phone.png);
}

.email::before{
  background-image: url(../assets/icons/mail.png);
}